# yaml-language-server: $schema=https://json.schemastore.org/clang-format.json
# vim: ft=yaml:
# kate: syntax yaml;
---
# Default for all languages, but I keep the common part of C family here to
# reduce duplicated code.

# It's the default value of clang-format, but explicitly declare it again.
BasedOnStyle: LLVM
# I like 4 space indent.
IndentWidth: 4
TabWidth: 4
# Tab is a good thing, but it produce many issues in practice.
# See https://mastodon.yuuta.moe/@coelacanthus/110666912187464829
UseTab: Never
ColumnLimit: 100
# Maybe they need a LLM to do this job
BreakStringLiterals: false
IntegerLiteralSeparator:
  # For binary, normally 4 bits per group as minimum.
  Binary: 4
  # For decimal, use 3 digits per group to align with SI metric prefix.
  Decimal: 3
  # For hex, use 2 digits per group to match the byte size.
  Hex: 2
  # 8 bits is enough long.
  BinaryMinDigits: 8
  # 1G
  DecimalMinDigits: 9
  # when > uint32_t
  HexMinDigits: 8
  # TODO: when llvm 22 released, use below replace above.
  #BinaryMinDigitsInsert: 8
  #DecimalMinDigitsInsert: 9
  #HexMinDigitsInsert: 8
  #BinaryMaxDigitsRemove: 8
  #DecimalMaxDigitsRemove: 0
  #HexMaxDigitsRemove: 8
# TODO: need clang-format 22.
#NumericLiteralCase:
#  Prefix: Lower
#  Suffix: Lower
# They should be the same part, I think.
# Maybe break ascii graph in comments
ReflowComments: IndentOnly
---
Language: Cpp
# Right make the minimum difference when change, but too far from code.
AlignEscapedNewlines: Left
# Why align them? Meaningless
AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None
# I define a series of contants together so it should have the same align.
# I won't define function-like macro side by side, so it only affect constant.
AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
# Never compress the function/lambda/block with only one statement into oneline,
# it's ugly and make hard-read difference when change it.
# A empty block is an exception, since it's more like a placeholder.
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Empty
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: Empty
# I use Qt, so...
# TODO: need clang-format 22.
#AllowBreakBeforeQtProperty: true
# Why put template and function declaration in the same line?
BreakTemplateDeclarations: Yes
# TODO: replace with later lines when llvm 22 released
AlignAfterOpenBracket: BlockIndent
# Old AlignAfterOpenBracket: BlockIndent behavior
#BreakAfterOpenBracketBracedList: true
#BreakAfterOpenBracketFunction: true
#BreakAfterOpenBracketIf: true
#BreakAfterOpenBracketLoop: true
#BreakAfterOpenBracketSwitch: true
#BreakBeforeCloseBracketBracedList: true
#BreakBeforeCloseBracketFunction: true
#BreakBeforeCloseBracketIf: true
#BreakBeforeCloseBracketLoop: true
#BreakBeforeCloseBracketSwitch: true
# Consistent with my math writing habit.
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeTernaryOperators: false
# I have no prefer, just align with KDE style.
BreakConstructorInitializers: BeforeComma
# FIXME: need dig whether works for C++11
Cpp11BracedListStyle: false
# TODO: when llvm 22 released, use below replace above.
#Cpp11BracedListStyle: FunctionCall
# TODO: I like it, but need more analysis.
IndentGotoLabels: true
# Branch statement need indent, but macro place sharp at beginning for better.
IndentPPDirectives: AfterHash
# LLVM, why you want to keep the empty line at the start of block?
KeepEmptyLines:
  AtStartOfBlock: false
SpaceAfterTemplateKeyword: false
# For macros like foreach, it works like a function instead a control statement.
SpaceBeforeParens: ControlStatementsExceptControlMacros
# A little convience for distinguish initialization and block.
# TODO: The second one need clang-format 22.
SpaceInEmptyBlock: true
# Who love {a : 1, b : 2, c : 3}?
SpacesInContainerLiterals: false
# A little convience for distinguish initialization and block.
# TODO: need clang-format 22.
#SpaceInEmptyBraces: Block
---
Language: CSharp
DisableFormat: true
---
Language: Java
DisableFormat: true
---
Language: JavaScript
# Managed by other tools.
DisableFormat: true
---
Language: Json
DisableFormat: true
---
Language: ObjC
DisableFormat: true
---
Language: Proto
DisableFormat: true
---
Language: TableGen
DisableFormat: true
---
Language: TextProto
DisableFormat: true
---
Language: Verilog
DisableFormat: true
...
