Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
ColumnLimit: 100
AlignEscapedNewlines: Left
BreakBeforeBinaryOperators: NonAssignment
IndentPPDirectives: AfterHash

# vim: ft=yaml
# kate: syntax yaml;
