settings set target.x86-disassembly-flavor intel

# always load the .lldbinit file in the current working directory
settings set target.load-cwd-lldbinit true

# disable for it need urlparse module but there is no such thing
#command script import ~/.config/lldb/formatters/all.py

script import os, sys
script from pathlib import Path
script home = str(Path.home())
script sys.path.insert(0, home + '/.config/lldb')

script import utils
command alias pwd script print(os.getcwd())
command script add -f utils.chdir cd
