[submodule "zsh/.config/zsh.d/plugins/fast-syntax-highlighting"]
	path = zsh/.config/zsh.d/plugins/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting.git
	ignore = untracked
[submodule "zsh/.config/zsh.d/plugins/history-search-multi-word"]
	path = zsh/.config/zsh.d/plugins/history-search-multi-word
	url = https://github.com/zdharma-continuum/history-search-multi-word.git
	ignore = untracked
[submodule "vim/.vim/pack/package-manager/opt/jetpack"]
	path = vim/.vim/pack/package-manager/opt/jetpack
	url = https://github.com/tani/vim-jetpack
