/* Remove useless context menus */
#context-bookmarkpage,
#context-bookmarklink,
#context-savelinktopocket,
#context-pocket,
#context-take-screenshot,
#context-sep-screenshots {
    display: none !important;
}

/* Remove What's New */
#appMenu-whatsnew-button {
    display: none !important;
}

/* Remove round corner of urlbar */
#urlbar {
    border-radius: 0 !important;
}

/* Remove round corner of sidebar */
#sidebar {
    border-radius: 0 !important;
}

/* Remove TST/Sidebery headers */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header,
#sidebar-box[sidebarcommand="_3c078156-979c-498b-8990-85f7987dd929_-sidebar-action"] > #sidebar-header {
    display: none;
}

/* Remove Flagfox menu entry */
menu[label="Flagfox"] {
    display: none !important;
}

/* UWP style item selector */
:root {
    --uwp-nav-item-selector-height: 16px;
    --uwp-nav-item-selector-width: 3px;
    --uwp-nav-item-selector-radius: 2px;
    --uwp-nav-item-margin: 2px 4px;
}
.urlbarView-row[selected] .urlbarView-row-inner::before {
    content: "";
    width: 0 !important;
    height: 0.5em !important;
    display: block !important;
    position: absolute !important;
    background-color: AccentColor !important;
    padding: 8px 1.5px !important;
    border-radius: var(--uwp-nav-item-selector-radius) !important;
    margin-right: 7px !important;
}
