/* 隐藏所有无用右键菜单 */
#context-bookmarkpage,
#context-bookmarklink,
#context-savelinktopocket,
#context-pocket,
#context-take-screenshot,
#context-sep-screenshots {
    display: none !important;
}

/* 去除 新版变化 */
#appMenu-whatsnew-button {
    display: none !important;
}

/* 地址栏去除圆角 */
#urlbar {
    border-radius: 0 !important;
}

/* remove TST headers */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar-header {
    display: none;
}
