defaults
auth    on
tls     on
tls_starttls off

account outlook
host    smtp.office365.com
port    587
from    coelacanthus@outlook.com
user    coelacanthus@outlook.com
tls_starttls on
password *******

account default : outlook

