[alias]
    # from trevor bramble https://twitter.com/TrevorBramble/status/774292970681937920
    list-alias = !git config -l | grep ^alias | cut -c 7- | sort
    
    # Show the user email for the current repository.
    # TODO: print both Name and EMail
    whoami = config --get user.email

    # List contributors with number of commits
    contributors = shortlog --summary --numbered --email --group=author
    
    slog = log --decorate --graph --pretty=log
    slog-sigs = log --decorate --graph --pretty=log-signature
    linked-log = !git-linked log --decorate --graph --pretty=log
    linked-log-sigs = !git-linked log --decorate --graph --pretty=log-signature
    
    # Remove branches that have already been merged with main.
    # a.k.a. 'delete merged'
    delete-merged = "!f(){ if command -v git-delete-merged-branches >/dev/null 2>&1; then git delete-merged-branches; else git branch --merged | grep -v '^\\*\\|  master' | xargs -n 1 git branch -d; fi }; f"
    
    # Train Rerere in repository
    rerere-train = !/usr/share/git/rerere-train.sh
    
    # List conflict files
    list-conflict = diff --name-only --diff-filter=U

    # https://blog.filippo.io/git-fixup-amending-an-older-commit/
    # We can use git revise instead
    fixup = "!f() { TARGET=$(git rev-parse \"$1\"); shift; git commit --fixup=$TARGET ${@} && git rebase --autostash --autosquash $TARGET^; }; f"
    
    # Generate Linux kernel fix message
    k-fix-msg = log -1 --abbrev=12 --pretty=fixes

# vim: set ft=gitconfig et:
# kate: space-indent on; indent-width 4; syntax toml;
