[alias]
    # from trevor bramble https://twitter.com/TrevorBramble/status/774292970681937920
    list-alias = !git config -l | grep ^alias | cut -c 7- | sort
    
    # Show the user email for the current repository.
    # TODO: print both Name and EMail
    whoami = config --get user.email

    # List contributors with number of commits
    contributors = shortlog --summary --numbered --email --group=author
    
    slog = log --all --decorate --oneline --graph --format='%C(yellow)%h%Creset - %s %C(green)(%cr) %C(bold blue)<%an>%Creset %C(red)%d%Creset'
    linked-log = !git-linked log --all --decorate --oneline --graph --format='%C(yellow)%h%Creset - %s %C(green)(%cr) %C(bold blue)<%an>%Creset %C(red)%d%Creset'
    
    # Remove branches that have already been merged with main.
    # a.k.a. 'delete merged'
    delete-merged = "!f(){ if command -v git-delete-merged-branches >/dev/null 2>&1; then git delete-merged-branches; else git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d; fi }; f"
