# convert docx to txt to diff it
[diff "word"]
    textconv = docx2txt-git-diff

# using ImageMagick to generate difference between pics
[diff "image"]
    command = compare $2 $1 png:- | montage -geometry +4+4 $2 - $1 png:- | display -title \"$1\" -

# Use `hexdump` to diff binary files.
[diff "bin"]
    textconv = hexdump -v -C
