# convert docx to txt to diff it
[diff "word"]
    textconv = docx2txt-git-diff

# using ImageMagick to generate difference between pics
[diff "image"]
    command = compare $2 $1 png:- | montage -geometry +4+4 $2 - $1 png:- | display -title \"$1\" -

# Use `hexdump` to diff binary files.
[diff "bin"]
    textconv = hexdump -v -C

# https://difftastic.wilfred.me.uk/getting_started.html#git-difftool
[difftool "difftastic"]
        cmd = difftastic "$LOCAL" "$REMOTE"

# vim: set ft=gitconfig et:
# kate: space-indent on; indent-width 4; syntax ini;
