# Color Setting
[color]
    # auto is default since 1.8.4
    ui = auto
[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22
[color "diff"]
    meta = 11
    frag = magenta bold
    commit = yellow bold
    old = red bold
    new = green bold
    whitespace = red reverse

[core]
    pager = diff-so-fancy | less --tabs=4 -RFX
    # enable escape for code large than 0x80
    quotePath = false

# log format: ISO8601 date format and show both Author and Committer
[log]
    date = iso-local
[format]
    pretty = fuller
