# https://wiki.archlinux.org/index.php/Git#Protocol_defaults
# AUR only allow pushing via SSH
# and with SSH connection multiplex is better
[url "ssh://aur@aur.archlinux.org/"]
    pushInsteadOf = https://aur.archlinux.org/
    pushInsteadOf = http://aur.archlinux.org/
    pushInsteadOf = git://aur.archlinux.org/
# https://github.blog/2020-12-15-token-authentication-requirements-for-git-operations/
[url "git@github.com:"]
    pushInsteadOf = https://github.com/

[url "git://gist.github.com/"]
    insteadOf = "gist:"
