# https://wiki.archlinux.org/index.php/Git#Protocol_defaults
# AUR only allow pushing via SSH
# and with SSH connection multiplex is better
[url "ssh://aur@aur.archlinux.org/"]
    pushInsteadOf = https://aur.archlinux.org/
    pushInsteadOf = http://aur.archlinux.org/
    pushInsteadOf = git://aur.archlinux.org/
# https://github.blog/2020-12-15-token-authentication-requirements-for-git-operations/
[url "git@github.com:"]
    pushInsteadOf = "github:"
    pushInsteadOf = "https://github.com/"
    pushInsteadOf = "git://github.com/"

[url "git@gist.github.com:"]
    pushInsteadOf = "gist:"
    pushInsteadOf = "https://gist.github.com/"
    pushInsteadOf = "git://gist.github.com/"

[url "git@bitbucket.org:"]
    pushInsteadOf = "bitbucket:"
    pushInsteadOf = "https://bitbucket.org/"
    pushInsteadOf = "git://bitbucket.org/"

[url "git@gitlab.com:"]
    pushInsteadOf = "https://gitlab.com/"

[url "git@salsa.debian.org:"]
    pushInsteadOf = "https://salsa.debian.org/"

[url "git@invent.kde.org:"]
    pushInsteadOf = "https://invent.kde.org/"

[url "git@gitlab.archlinux.org:"]
    pushInsteadOf = "https://gitlab.archlinux.org/"


# vim: set ft=gitconfig et:
# kate: space-indent on; indent-width 4; syntax toml;
