[Unit]
Description="EasyEffects Service"
After=pipewire.service wireplubmer.service

[Service]
ExecStart=/usr/bin/easyeffects --hide-window --service-mode

[Install]
WantedBy=graphical-session.target
