[Unit]
Description=GeoClue2 Demo Agent (KDE has no their own one)
Before=xdg-desktop-portal.service

[Service]
ExecStart=/usr/lib/geoclue-2.0/demos/agent

[Install]
WantedBy=default.target
