[Unit]
Description=Wait until we're connected to the Internet

[Service]
Type=oneshot
ExecStart=/usr/bin/wait-online
RemainAfterExit=yes

[Install]
WantedBy=network-online.target
